
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section homejs{
    <script src="~/client/js/home.js"></script>
}
@section homecss{
    <link href="~/client/css/home.css" rel="stylesheet" />
}
<div class="container">
    <main role="main" class="pb-3">
        <section class="back-ground-img" style="background-image: url(../../../client/img/backround.jpg)">
            <div class="blur">
                <div class="slogan-in-backround">
                    <span class="slogan-in-backround__slogan">Transforming shopping into an experience.</span>
                    <span class="slogan-in-backround__text">ABCD Mall. Where you have it all!</span>
                </div>
            </div>
        </section>
    </main>
</div>


<!-- Introduce / Time open -->
<div class="home">
    <div class="home-wrapper" style="font-size: 70%;">
        <h2 style="font-size: 300%;color: black; margin: 10px;">Contact Details</h2>
        <div class="grid">


            <div class="col-6" style="font-size: 200%;max-width: 550px; margin-left: 70px; margin-right: 15px;">

                <p style="margin-bottom: 20px;">
                    ABCD Mall
                </p>
                <p style="margin-bottom: 20px;">
                    Mumbai
                </p>
                <p style="margin-bottom: 20px;">
                    The ABCD mails situated in sub-urban place of Mumbai and was opened by ABCD Developers Pvt Ltd. The 250,000 sq ft (23,000 m2)
                    mall with a frontage of 700 ft (210 m). It was designed by Cooper and their partners. R Mall is a 4-storeyed air-conditioned 
                    mall covering an area of approximately 80,000 sq ft (7,000 m2) on each floor. The site includes a 7 level car parking facility.
                </p>
                <p style="margin-bottom: 20px;">Telephone:<span>09xxxxxxxx</span></p>
                <p style="margin-bottom: 20px;">Email:<span>Aptech@gmail.edu.com</span></p>
            </div>

            <div class="grid"
                 style=" padding-right: 30px; font-size: 200%;max-width: 600px; float: left; border-left:solid;border-color: dimgrey;  padding: 25px;">
                <div class="col-8">
                    <p style="margin-bottom: 15px;">Name: Pham Gia Hung</p>
                    <p style="margin-bottom: 15px;">Email: pgh120503@gmail.com</p>
                </div>

            </div>

        </div>
    </div>
    <div style="text-align: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.14571458558!2d72.71637318028606!3d19.082177512541435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2zTXVtYmFpLCBNYWhhcmFzaHRyYSwg4bqkbiDEkOG7mQ!5e0!3m2!1svi!2s!4v1709210124635!5m2!1svi!2s" 
        width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>